#focus-areas-dropdown-container {
  position: absolute;
  top: 10px; /* adjusted via code to match trigger position */
  left: 10px; /* adjusted via code to match trigger position */
  z-index: 10006;
  background: #1131a8;
  width: 311px;
  height: 388px;
  overflow-y: auto; /* Enable vertical scrolling */
  overscroll-behavior: contain; /* Prevent Lenis interference */
  display: none; /* Initially hidden */
  box-shadow: 0 8px 24px 6px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(6px);
  background-image: url("https://raw.githubusercontent.com/memarostudio/nationswell-placebased-map/refs/heads/main/assets/gradient_texture_blue_dropdown_bg.png");
  background-size: cover;
  background-position: center;
}

.animated-button-wrapper:hover {
  .animated-button-element-y {
    transform: translateY(-100%);
  }
  .animated-button-element-x {
    transform: translateX(100%);
  }
}
.animated-button-element-x,
.animated-button-element-y {
  transition: transform 0.8s ease;
}
