#focus-areas-dropdown-container {
  position: absolute;
  top: 10px; /* adjusted via code to match trigger position */
  left: 10px; /* adjusted via code to match trigger position */
  z-index: 10006;
  background: #1131a8;
  width: 311px;
  height: 388px;
  overflow-y: hidden; /* Enable vertical scrolling */
  display: none; /* Initially hidden */
  box-shadow: 0 8px 24px 6px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(6px);
  background-image: url("https://raw.githubusercontent.com/memarostudio/nationswell-placebased-map/refs/heads/main/assets/gradient_texture_blue_dropdown_bg.png");
  background-size: cover;
  background-position: center;
  padding: 8px;
  padding-bottom: 0px;
}

#focus-areas-dropdown-container .dropdown-inner::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #2148d1;
}
#focus-areas-dropdown-container .dropdown-inner::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #fbf9f4;
}

/* Firefox scrollbar styles */
@supports not selector(::-webkit-scrollbar) {
  #focus-areas-dropdown-container .dropdown-inner {
    scrollbar-width: thin;
    scrollbar-color: #fbf9f4 #2148d1;
  }
}

.animated-button-wrapper:hover {
  .animated-button-element-y {
    transform: translateY(-100%);
  }
  .animated-button-element-x {
    transform: translateX(100%);
  }
}
.animated-button-element-x,
.animated-button-element-y {
  transition: transform 0.8s ease;
}

.marker-details-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
  background-color: #d4d4d4;
}

.marker-details-scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #0f100f;
}

/* Firefox scrollbar styles */
@supports not selector(::-webkit-scrollbar) {
  .marker-details-scroll {
    scrollbar-width: thin;
    scrollbar-color: #0f100f #d4d4d4;
  }
}

// Hides the "Hide Completed Projects" toggle switch initially, gets changed via script.js
#toggle-hide-completed-projects {
  display: none;
}
